h2 {
    text-shadow: 5px 5px 10px #FFFFFF;
    text-color: #color #000000;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
h4 {
    text-shadow: 5px 5px 10px #FFFFFF;
    text-color: #color rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

html {
    background: linear-gradient(90deg, #4C00FF 0%, #322A80 100%);
}

 .link-url {
     color: #000000;
     font-size: 18px;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
 }
.link-url:hover {
    color: #D90000;
}
